@charset "UTF-8";
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
   max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    position: relative; /* 相対位置の基準点にする */
}

h1 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 20px;
}

input[type=submit] {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

input[type=submit]:hover {
    background-color: #0056b3;
}


.currentTime {
    position: absolute; /* 絶対位置 */
    right: 0;           /* 右端 */
    bottom: 0;          /* 下端 */
    background-color: rgb(248, 225, 229);
    padding: 10px;
    text-align: right;
}