<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>東大宮駅から鴻巣</title>
    <link th:href="@{/css/root.css}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="time-info" th:text="${Departure3} + '発 → '+${Arrival4}+'着'"></div>
            <div class="distance-info">距離: 25.1km</div>
        </div>
        <div class="route-details">
            <div class="route-step1">
                <span class="location" th:text="${Departure3} + ' 東大宮'"></span>
            </div>
            <div class="train1" th:text="${TrainName3}"></div>
            <div class="route-step2">
            <span class="location" th:text="${Arrival3} + ' - ' + ${Departure4} + '大宮(埼玉県)'"></span>
            </div>
            <div class="train2"　th:text="${TrainName4}"></div>
            <div class="route-step3">
               <span class="location" th:text="${Arrival4} + ' 鴻巣'"></span>
            </div>
        </div>
    </div>
</body>
</html>
